<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Detail</title>
</head>
<body>
    <h1>{{object.user}}</h1>
    <table>
        
        <tr>
            <th> Date : </th>
            <td>{{object.date}}</td>
        </tr>
        <tr>
            <th>Reporting Time : </th>
            <td>{{object.reporting_time}}</td>
        </tr>
        <tr>
            <th>Leaving time : </th>
            <td>{{object.leaving_time}}</td>
        </tr>        
        <tr>
            <th>Total Attendance  : </th>
            <td>{{object.total_attendance}}</td>
        </tr>
    </table>
</body>
</html>